@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

* {
  margin: 0;
  padding: 0;
}
html, body {
  width: 21.6cm;
  height: 27.9cm;
  font-family: "Poppins", sans-serif;
  letter-spacing: .1em;
  color: #333333;
}
ul, li {
  list-style-type: none;
}

/* GRID */

.grid-container {
  max-width: 21.6cm;
  height: 27.9cm;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.1fr 2.3fr 3.2fr 2.5fr.3fr;
  margin: 0 auto;
  padding: 0;
  background-image: linear-gradient(lightyellow, gold);
}
#ramen {
  grid-column: span 3;
  text-align: center;
  margin: 25px 20px 5px 20px;
}
#hibachi {
  grid-column: span 3;
  margin: 5px 20px 5px 20px;
}
#wok {
  grid-column: span 3;
  margin: 5px 20px 5px 20px;
}
#fried-rice {
  grid-column: span 1;
  text-align: center;
  margin: 5px 5px 5px 20px;
}
#lomein {
  grid-column: span 2;
  text-align: center;
  margin: 5px 20px 5px 5px;
}
footer {
  grid-column: span 3;
  text-align: center;
  margin: 5px 20px 20px 20px;
  font-size: .6em;
}

/* MENU STYLES */

.menu-category {
  padding: 0px 15px 10px 15px;
  background: lightgoldenrodyellow;
  text-align: left;
}
.menu-category h3 {
  font-family: Poppins;
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: 625;
  text-align: center;
  padding-top: 7px;
}
.menu-category-heading {
  text-align: center;
}
.menu-category-description {
  font-size: .9em;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 8px;
  color: #5f5f5f;
}
.menu-choice {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 550;
}
.price {
  font-size: .7em;
  font-weight: 400;
}
.menu-choice-description {
  font-weight: 400;
  font-size: .9em;
  color: #5f5f5f;
}
.menu-category li {
  padding-top: 2px;
}
h5 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.1em;
  text-align: center;
  text-decoration: underline;
}

/* RAMEN */

.menu-category-grid-ramen {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: lightgoldenrodyellow;
  gap: 20px;
}
#ramen p {
  padding-top: 2px;
}

/*
.ramen-type {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 550;
  text-decoration: underline;
}
*/

/* HIBACHI */

.menu-category-grid-hibachi {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows: 4.5fr 1fr;
  background: lightgoldenrodyellow;
  text-align: center;
}
.left-column {
  grid-column: span 1;
  grid-row: span 1;
  padding-left: 15px;
}
.right-column {
  grid-column: span 1;
  grid-row: span 1;
  padding-right: 15px;
}
.hibachi-add-on {
  grid-column: span 2;
  grid-row: span 1;
  text-align: center;
  text-transform: uppercase;
  font-size: .8em;
  padding: 5px;
  border: 1px solid black;
}

/* WOK */

.menu-category-grid-wok {
  display: grid;
  grid-template-columns: 1.7fr 2fr 1.6fr 1.4fr;
  grid-template-rows: .8fr 6.5fr 1fr;
  padding-top: 0px; 
}
.wok-number {
  font-weight: 500;
  font-size: .8em;
}
.wok-header {
  font-weight: 550;
  font-size: 1em;
  text-decoration: underline;
}
.wok-protein {
  grid-column: span 1;
  grid-row: span 1;
  text-transform: uppercase;
}
.wok-style {
  grid-column: span 1;
  grid-row: span 1;
  text-align: center;
  text-transform: uppercase;
  padding-left: 5px;
}
.wok-rice {
  grid-column: span 1;
  text-transform: uppercase;
  text-align: center;
  padding-right: 15px;
}
.wok-roll {
  grid-column: span 1;
  text-transform: uppercase;
  text-align: center;
  padding-right: 10px;
}
.wok-option {
  font-size: 1em;
  font-weight: 400;
}
.first-column {
  grid-column: span 1;
  grid-row: span 1;
  padding-left: 10px;
  background: lightgoldenrodyellow;
}
.second-column {
  grid-template-columns: 1fr 1.5fr;
  grid-column: span 1;
  grid-row: span 1;
  display: grid;
  text-align: center;
}
.wok-style-column-1 {
  grid-column: span 1;
}
.wok-style-column-2 {
  grid-column: span 1;
}
.third-column {
  grid-column: span 1;
  grid-row: span 1;
  text-align: center;
  padding-right: 15px;
}
.fourth-column {
  grid-column: span 1;
  grid-row: span 1;
  text-align: center;
  padding-right: 10px;
}
.wok-add-on {
  grid-column: span 4;
  grid-row: span 1;
  text-align: center;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 400;
  padding: 5px;
  border: 1px solid black;
}